## Project 01: Mapping Orders!

In [2]:
# Useful imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os


from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LinearRegression
import matplotlib.ticker as mtick

In [6]:
# loading data
shop_orders = pd.read_csv('orders_export_6.11.25.csv')

In [7]:
shop_orders.head()

,Name,Email,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Tax 5 Value,Phone,Receipt Number,Duties,Billing Province Name,Shipping Province Name,Payment ID,Payment Terms Name,Next Payment Due At,Payment References
0,1204,natalieeve11@hotmail.com,paid,2025-06-09 16:32:24 -0700,unfulfilled,NaN,yes,USD,125.0,14.99,...,NaN,NaN,NaN,NaN,Wisconsin,Wisconsin,ruMHRdoQDDOjcKJRaMcB7Qc96,NaN,NaN,rorGwGRnXNXHfxLvSdGPp7Nyq + rZIx0GiyJcDDNg54pL...
1,1203,NaN,paid,2025-06-09 13:43:56 -0700,unfulfilled,NaN,no,USD,125.0,14.99,...,NaN,1.703989e+10,NaN,NaN,Virginia,Virginia,r51DRSlvDsRRPnjrZE7qhqLVf,NaN,NaN,r51DRSlvDsRRPnjrZE7qhqLVf + 1203.2
2,1202,aakash11j@gmail.com,paid,2025-06-09 07:56:24 -0700,fulfilled,2025-06-09 21:00:40 -0700,no,USD,125.0,14.99,...,NaN,1.918852e+10,NaN,NaN,Oklahoma,Oklahoma,rQ6m1LwTpgIuT1yru0nySJjKq,NaN,NaN,rQ6m1LwTpgIuT1yru0nySJjKq + 1202.2
3,1201,caltahome@gmail.com,paid,2025-06-06 01:40:50 -0700,fulfilled,2025-06-06 11:21:19 -0700,yes,USD,125.0,14.99,...,NaN,NaN,NaN,NaN,California,California,rgYSmmY1lPIuavTwaJaCIlha5,NaN,NaN,rgYSmmY1lPIuavTwaJaCIlha5 + 1201.2
4,1200,andreafayjimenez@gmail.com,paid,2025-06-03 09:21:56 -0700,fulfilled,2025-06-03 13:13:21 -0700,no,USD,125.0,14.99,...,NaN,NaN,NaN,NaN,Tennessee,Tennessee,r6LGnncmifyxOskUGYNkNDKY1 + rxzuPvVxXWAGsNnkkD...,NaN,NaN,r6LGnncmifyxOskUGYNkNDKY1 + rxzuPvVxXWAGsNnkkD...

In [8]:
shop_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 79 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         205 non-null    int64
 1   Email                        194 non-null    object
 2   Financial Status             204 non-null    object
 3   Paid at                      188 non-null    object
 4   Fulfillment Status           204 non-null    object
 5   Fulfilled at                 201 non-null    object
 6   Accepts Marketing            204 non-null    object
 7   Currency                     204 non-null    object
 8   Subtotal                     204 non-null    float64
 9   Shipping                     204 non-null    float64
 10  Taxes                        204 non-null    float64
 11  Total                        204 non-null    float64
 12  Discount Code                26 non-null     object
 13  Discount Amount              204 non-null    float64
 14  Shipping Method              193 non-null    object
 15  Created at                   205 non-null    object
 16  Lineitem quantity            205 non-null    int64
 17  Lineitem name                205 non-null    object
 18  Lineitem price               205 non-null    float64
 19  Lineitem compare at price    66 non-null     float64
 20  Lineitem sku                 204 non-null    float64
 21  Lineitem requires shipping   205 non-null    bool
 22  Lineitem taxable             205 non-null    bool
 23  Lineitem fulfillment status  205 non-null    object
 24  Billing Name                 198 non-null    object
 25  Billing Street               197 non-null    object
 26  Billing Address1             197 non-null    object
 27  Billing Address2             38 non-null     object
 28  Billing Company              2 non-null      object
 29  Billing City                 197 non-null    object
 30  Billing Zip                  197 non-null    object
 31  Billing Province             196 non-null    object
 32  Billing Country              197 non-null    object
 33  Billing Phone                65 non-null     object
 34  Shipping Name                198 non-null    object
 35  Shipping Street              198 non-null    object
 36  Shipping Address1            198 non-null    object
 37  Shipping Address2            38 non-null     object
 38  Shipping Company             3 non-null      object
 39  Shipping City                198 non-null    object
 40  Shipping Zip                 198 non-null    object
 41  Shipping Province            198 non-null    object
 42  Shipping Country             198 non-null    object
 43  Shipping Phone               65 non-null     object
 44  Notes                        13 non-null     object
 45  Note Attributes              0 non-null      float64
 46  Cancelled at                 1 non-null      object
 47  Payment Method               188 non-null    object
 48  Payment Reference            188 non-null    object
 49  Refunded Amount              204 non-null    float64
 50  Vendor                       204 non-null    object
 51  Outstanding Balance          204 non-null    float64
 52  Employee                     18 non-null     object
 53  Location                     7 non-null      object
 54  Device ID                    4 non-null      float64
 55  Id                           204 non-null    float64
 56  Tags                         152 non-null    object
 57  Risk Level                   204 non-null    object
 58  Source                       204 non-null    object
 59  Lineitem discount            205 non-null    float64
 60  Tax 1 Name                   197 non-null    object
 61  Tax 1 Value                  197 non-null    float64
 62  Tax 2 Name                   147 non-null    object
 63  Tax 2 Value                  147 non-null    float64
 64  Tax 3 Name                   118 non-null    object
 65  Tax 3 Value                  118 non-null    float64
 66  Tax 4 Name                   56 non-null     object
 67  Tax 4 Value                  56 non-null     float64
 68  Tax 5 Name                   21 non-null     object
 69  Tax 5 Value                  21 non-null     float64
 70  Phone                        11 non-null     float64
 71  Receipt Number               4 non-null      object
 72  Duties                       0 non-null      float64
 73  Billing Province Name        196 non-null    object
 74  Shipping Province Name       198 non-null    object
 75  Payment ID                   188 non-null    object
 76  Payment Terms Name           0 non-null      float64
 77  Next Payment Due At          0 non-null      float64
 78  Payment References           188 non-null    object
dtypes: bool(2), float64(23), int64(2), object(52)
memory usage: 123.8+ KB